/* @media all and (max-width: 600px) { */
     
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
:root {
    --mywidth: 100vw;
  }
body {
    
    font-family: 'calibri';
    overflow-x: hidden;
    background: #C9C7F4;
 }
 .hide{
     opacity: 0;
     display: none;
 }
 a{
    text-decoration: none;
    color: inherit;
 }
 .underline{
     text-decoration: underline;
 }
 #mbarwrap{
     height: 100%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: .7em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 6vw;
    z-index: 8;
 }
 /* #mbarwrap:hover #top-bar{
     display: block;
 } */
 #mmenubar, #mmenubar::before, #mmenubar::after {
     display:block;
     height: 3px;
     width: 100%;
     position: absolute;
    background: #27AFE0;
    border-radius: 25px;
    filter:drop-shadow(0.1mm 0.1mm 0.4mm #02121d);
 }
  #mbarwrap:hover #mmenubar, #mbarwrap:hover #mmenubar::before, #mbarwrap:hover #mmenubar::after {
    background: #ffffff;
     filter:none;
   
 }
 #mmenubar::before{
     content: '';
     top: .45em;
 }
 #mmenubar::after{
    content: '';
    top: -.45em;
}
 #leftBanner{
    box-shadow: 1px 1px 3px 0px #0f3ebd;
    display: flex;
    justify-content: center;
    background: #0F75BD;
    border-bottom: hsl(207, 83%, 89%) 0.4mm solid;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
 }
 #logobigwrap{
    position: absolute; 
    height: 100%;
    bottom: 0em;  
    right: 57%; 
    border-top: none;
    justify-content:center;
}
  #logowrap{
    height: 4em;
    width: 4em;
    display: block;
    position: absolute;
    top: 2.45em;
    right: 4em;
    transform: rotate(45deg) translateY(-50%);
}


.white{
     padding: 0;
     height: 80%;
     width: 80%;;
     background: white;
     position: relative;
     
 }
 .bluedark{
    position: absolute;
    background: #1B74BB;
 }
 .blue0{
    height: 86.72%;
    width: 86.72%;
    position: absolute;
    top: -1%;
    right: -1%;
}
.bluelight{
     width: 73%;
     height: 73%;
     background: #24ABE2;
     position: relative;
     right:0;
     top: 0;}
 .blue1{
    top: -1%;
    left: 41%;
    width: 14.28%;
    height: 59%;
 }
 .blue2{
    right: 14.78%;
    bottom: 42.5%;
    height: 26.28%;
    width: 38%;
}
.blue3{
    top: 14.28%;
    right: 14.5%;
    width: 14.28%;
    height: 38%;
}
#leftBanner a{
    /* max-width: 70vw; */
    min-height: 2em;
}
.logohead{
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: max-content;
    top: 2.4em;
    right: -15.5em;
    justify-content: space-around;
    font-size: .6rem;
    line-height: 1.7rem;
    text-align: center;
    transform: scale(1.05, 1.5);
    font-weight: 300;
    color: lightcyan;
}
.heb{
    font-weight: 600;
    transform: scale(1.55, 1.9);
}


#bannertext{
    display: none;
    transform: scale(1, 1.2);
    font-size: 23px;
    line-height: 1.6em;
    padding: 3em 1em;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(#f0f5f7, #e1ecfc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#backmask{
    background-image: linear-gradient(white 10%, transparent);
    z-index: -150;
    position:fixed;
    top:0;
    height: 100vh;
    width: 100vw;
}
#barback{
    display: none;
    position:fixed;
    right: 0;
    top: 0;
    width: var(--mywidth);
    height: 4em;
    background: white;
    z-index: 4;
}
.backimg{
  position: fixed;
  top: 10%;
  margin: 0 auto;
  float: none;
  width: 100%;
  height: 80%;
  z-index: -200;
}
#top-bar {
    position: fixed;
    top: 6.3em;
    display: none;
    height: auto;
    margin: 0 auto;
    border-top: none;
    border-bottom: none;
    width: 100%;
    height: auto;
    z-index: 4;
}


.bar-list{
    width: var(--mywidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-height: 90vh;
    overflow-x: scroll;
}
.top-bar-item {
    transform: scale(.8, 1);
    margin: 0 0;
    padding: 0;
    display: block;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: rgb(93, 115, 241);
    font-weight: 400;
    /* cursor: -webkit-grab; */
    border-bottom: 1px solid white;
    background: #CBCBEA;
}
.top-bar-item>a{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-basis: 1;
    height: 100%;
    width: 60%;
    float: none;
    margin: .5em;
    z-index: 4;
}
.arrowbox{
    transform: none;
    transition: .3s ease-in-out;
    position: absolute;
    display: flex;
    left: 1em;
    top: 1em;
    margin: 0;
    height: .4em;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    justify-content: center;
}
.arrowboxopen{
    display: block;
    transform: rotate(-180deg);
    transition: .3s ease-in-out;
}
.arrow {
    position: relative;
    top: -.4em;
    left: 0px;
    height: .7em;
    width: .7em;
    border-bottom: 3px solid #5D73F1;
    border-left: 3px solid #5D73F1;
    transform: rotate(-45deg);
}
.dropping{
    display: none;
    /* opacity: 0; */
}
.dropping a {
    text-align: justify;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1em;
    padding: 1em 3em;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(93, 115, 241);
    min-width: 100%;
    background: #E9FFFF;
    box-shadow: 0px 0px 10px 0px inset;
}
.drop-item i{
    transform: scale(1, .8);
    font-size: 1.4em;
}
.top-bar-item:hover{
    background: #d7f1fc;  
}
.dropping a:hover{
    color:#083b5f;
    background: #f3fafd; 
}

/* .arrowbox:hover>.dropping{
    display: block;
    animation: dropdown ease-out 0.8s;
    animation-fill-mode: forwards;
} */
/* .top-bar-item:active .dropping a{
    display: flex;
    animation: dropdown ease-out 0.8s;
    animation-fill-mode: forwards;
} */
/* .top-bar-item:hover .dropping{
    display: block;
    animation: dropdown ease-out 0.8s;
    animation-fill-mode: forwards;
} */
/* @keyframes dropdown{
    0% {
        opacity: 0

    }

    100% {
        opacity: 1;
    
    }
    
} */

/* -------SLOGAN      */
.contentwrap{
  background-image: radial-gradient(white 2%, transparent)!important;
    
}

.slogan{
    transform: scale(.8, 1);
    color: rgb(79, 79, 238);
    text-align: center;
    margin: 5em auto;
    max-width:initial;
    
}
.slogan h1, .slogan h2{
    font-weight: 200;
 
}
.slogan h1{
    line-height: 5rem;
    font-size: 5em;
    color:rgb(30, 30, 163);
}
.slogan h2::before{
    content: "";
    width: 30%;
    height: 1px;
    border-top: 5px solid #cfe8fa;
    border-radius: 5px;
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translateY(-.6em);
}
.slogan h2{
    margin-top: 3em;
    line-height: 3rem;
    font-size: 3em;
    font-style: oblique;
}
.between {
    background: #0F75BD;
    position: relative;
    max-width: var(--mywidth);
    bottom: 0px;
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    height: 68px;
    color: #F2F4F5;
    z-index: 2;
}
.pointingleft{
    display: none;
    height: 72px;
    width: 72px;
    position: absolute;
    float: left;
    left: -35px;
    top: 14%;
    transform: rotate(45deg);
    background: #0F75BD;
    border-left: solid #CCE5FA 1pt;
    border-bottom: solid #CCE5FA 1pt;
    border-bottom-left-radius: 7%;
}

.between i{
    transform: rotate(354deg);
}
#homebtn{
    height: 60px;
    width: 60px;
    background: rgb(214, 234, 250);
    z-index: 5;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: none;
    border-radius: 50%;
    box-shadow: rgb(4, 48, 75) 0mm 0mm  1mm 0.5mm;
    opacity: 0.3;
}
#homebtn:hover{
    opacity: 1;
}
#homebtn a{
    font-size: 4em;
    color: rgb(129, 170, 245);
    filter: drop-shadow(1px 1px 1px black);
    position: relative;
    margin: 0 auto;
    
}
#מאמרים
, #contact, #office, .contentwrap{
    background-image: radial-gradient(white 2%, transparent);
    position: relative;
    display: block;
    min-height: 99vh;
    width: var(--mywidth);
    min-width: 100%;
    padding: 2em 0 1em 0;
}
.contentwrap{
    padding: 6em 0 1em 0;
}

#pageheader, #pageheader2, #pageheader3{
    padding: .3em 1.5em;
    text-align: right;
    display: block;
    width: 70%;
    height: 40px;
    font-size: 1.4rem;
    color:rgb(253, 254, 255);
    border: none;
    margin: 1em;
    margin-top:auto;
    margin-right: 0;
    font-style: italic;
    font-weight: 200;
    line-height:initial;
    background-image: linear-gradient(to right, transparent, rgb(24, 106, 173)) ;
}

.mamarlist{
    width: 100%;
}
.distance{
    line-height:150px;
    
}
.mamar-content{
    margin-bottom: 1em;
    display: none;
  
}
.secondary h1{
    transform: scale(.8, 1);
    cursor: pointer;
    margin: 0 0 0 0;
    font-size: 22px;
    padding: 1em;
    font-weight: 700;
    color: #2f426d;
    text-align: center;
    width: 100%;
    box-shadow: #f2f2fc -0.4mm -0.4mm 0mm 0.1mm;
    transition: 0.4s ease-in;
    border-top: none;
    border-radius: 0 0 0 0;
}
.secondary h1:hover{
    background: #e8f5fa
}
.secondary h2{
    margin: 1em auto;
    font-size: 1.7rem;
    font-weight: 400;
    color: #115d69;
    text-align: center;
    width: 85%;

}
.secondary p{
    padding: .7em 1.5em;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5em;
    width: 100%;
    border-right: 0.1mm solid rgb(241, 241, 248);
    text-align: justify;
    
}
.secondary{
    margin: 0;
}

.justiftxt{
    background:hsl(208, 39%, 94%);
    max-width: 75%;
   
}
.collapse{
    margin-bottom: 1em;
    padding: .8mm;
    color: #26A8DF;
    font-size: 1em;
    display: block;
    text-align: center;
    filter: drop-shadow(0.1mm 0.1mm 2mm rgb(38, 38, 71));
}
.collapse:hover{
    color: black;
    font-size: 1.05em;
}
/* .scrollUp{
    transform: translateY(-80px)
} */
#contact{
    background-image: linear-gradient(transparent, white, white, transparent);
}

#insidecontact{
    margin: 3em auto;
   display: flex;
   float: none;
   flex-direction: column;
   justify-content: center;
   position: relative;
   
}
#insidecontact a{
    width: 95%;
    box-shadow: 1px 1px 3px 0px #e7dcf7;
    margin:  2px auto;
    padding: .7em;
    text-align: center;
    color: #230666;
    font-size: 1.1em;
    background: #F0F8FD;
    transition: background 0.4s ease;
}
#insidecontact i{
    font-size: 2em;
    padding: .3em 0;

}
#insidecontact a:hover{
    background: #c4e6fc;
    box-shadow: 1px 1px 4px 3px #f9f9fa;
}

  #office {
   min-height: 129vh;
   background-image: linear-gradient(to right, transparent, white, white, transparent);
   padding-bottom: 2em;
     }
#officecontent{
    width: 90%;
    height: fit-content;
    padding: 2em;
    margin: 0 auto;
    box-shadow: 1px -2px 3px 0px #0F75BD;
}
.mapwrap{
    color:#0F75BD;
    margin: 1em auto;
    width: 100%;
    line-height: 1.8rem;
    text-align: center;
}
.mapwrap iframe{

    box-shadow: 0.16mm 0.16mm 3px 0px #703dfc;
}

.officetext{
  font-size: 1.5rem;
  margin: .5em auto;
  
}
#directions{
    margin: 0 auto;
    max-width: 80%;
    font-size: 2rem;
    color: #0F75BD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
}
#directions img{
    width: 80px;
    height: 80px;
    /* float: none;
    display: inline-flex; */
    
}
#directions p{
    
    font-size: 1rem;
    padding: .8rem 1em;
    text-align: right;
    
}
.directitem{
    margin: .2em;
    background: #b3dbf5;
    width: 180px;
    height: 80px;
    display: inline-flex;
    box-shadow: 1px 1px 7px 0px rgb(8 82 107);
border-radius: 10px;
    justify-content: center;
    box-sizing: border-box;
    color: rgb(62, 114, 145);
}
.directitem:hover{
    opacity: .7;
}
#waze{
    background: #f3f7fa;
    border-radius: 10px;
    padding: 10px;
    height:100%;
    
}

#ad {
    border-radius: 12px 12px 0 0;
    font-size: .8rem;
    width: 100px;
    text-align: center;
    background: rgb(15, 69, 141);
    color: white;
    font-weight: 200;
    position: absolute;
    bottom: 0;
    margin: auto auto 0 auto;
    /* float: none; */
    left: 50%;
    transform: translateX(-50%);
    padding: .4em;
    opacity: .4;
}
#ad:hover{
    opacity: 1
}
