
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
:root {
    --mywidth: calc(100% - 20em);
  }
body {
    
    font-family: 'calibri';
    overflow-x: hidden;
    background: #C9C7F4;
}
 .hide{
     opacity: 0;
     display: none;
 }
 a{
    text-decoration: none;
    color: inherit;
 }
 .underline{
     text-decoration: underline;
 }
 #leftBanner{
     display: flex;
     justify-content: center;
     background: #0F75BD;
     border-right: hsl(207, 83%, 89%) 1mm solid;
     min-height: 100%;
     width: 20em;
     position: fixed;
     left: 0;
     top: 0;
 }
 #logobigwrap{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    height: 8em;
    bottom: 3em;
    right: 1em;
    border-top: solid #09263E 2mm;
    justify-content:flex-end;
}
  #logowrap{
    height: 8em;
    width: 8em;
    display: block;
    position: absolute;
    top: -1.4em;
    right: 50%;
    transform: rotate(45deg) translateY(-50%);
    
}
.white{padding: 0;
     height: 80%;
     width: 80%;;
     background: white;
     position: relative;
     
 }
 .bluedark{
    position: absolute;
    background: #1B74BB;
 }
 .blue0{
    height: 86.72%;
    width: 86.72%;
    position: absolute;
    top: -1%;
    right: -1%;
}
 .bluelight{
     width: 73%;
     height: 73%;
     background: #24ABE2;
     position: relative;
     right:0;
     top: 0;}
 .blue1{
    top: -1%;
    left: 41%;
    width: 14.28%;
    height: 59%;
 }
 .blue2{
    right: 14.78%;
    bottom: 42.5%;
    height: 26.28%;
    width: 38%;
}
.blue3{
    top: 14.28%;
    right: 14.5%;
    width: 14.28%;
    height: 38%;
}

.logohead{
    padding-bottom:0.2em;
    font-size: 0.9em;
    line-height: 1.4em;
    text-align: center;
    transform: scale(1.05, 1.5);
    font-weight: 300;
    color: lightcyan;
}
.heb{
    font-weight: 600;
    transform: scale(1.55, 1.9);
}


#bannertext{
    transform: scale(1, 1.2);
    font-size: 23px;
    line-height: 1.6em;
    padding: 3em 1em;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(#f0f5f7, #e1ecfc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#backmask{
    background-image: linear-gradient(white 10%, transparent);
    z-index: -150;
    position:fixed;
    top:0;
    height: 100vh;
    width: var(--mywidth);
}
#barback {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 20em);
    height: 8em;
    background-image: linear-gradient(#D7F1FC, #D7F1FC, transparent);
    z-index: 4;
}
.backimg{
  position: fixed;
  top: 0;
  width: var(--mywidth);
  z-index: -200;
  /* filter:saturate(100) */
}
#mmenubar{
   display: none;
}
#top-bar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 0 0 auto 20em;
    border-top: hsl(207, 91%, 69%) 0.7mm solid;
    width: 100%;
    height:auto;
    z-index: 4;
}

.bar-list{
    width: calc(100% - 20em);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
    
}
.top-bar-item{
    transform: scale(.8, 1);
    margin: 1em 0 0 0;
    display: inline;
    font-size: 1.4rem;
    width: inherit;
    flex-basis: 1;
    text-align: center;
    color: rgb(93, 115, 241);
    font-weight: 400;
    cursor: pointer;
}
.dropping a{
    text-align:right;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    line-height: 1em;
    padding-bottom: 1em;
    padding: 1em;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(93, 115, 241);
    
}
.dropping{
    display: none;
    opacity: 0;

}
.drop-item i{
    transform: scale(1, .8);
    font-size: 1.4em;
}
.top-bar-item:hover{
    background: #d7f1fc;  
}
.dropping a:hover{
    color:#083b5f;
    background: #f3fafd; 
}

.top-bar-item:hover .dropping{
    display: block;
    animation: dropdown ease-out 0.8s;
    animation-fill-mode: forwards;
}
@keyframes dropdown{
    0% {
        opacity: 0

    }

    100% {
        opacity: 1;
    
    }
    
}

/* SLOGAN */
.contentwrap{
    /* position: absolute;
    display: block;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: calc(100% - 20em);
    z-index: -1;
    
    opacity: .8;
    font-weight: 200; */
    background-image: radial-gradient(white 12%, transparent, transparent)!important;
}

.slogan{ 
    transform: scale(.8, 1);
    color: rgb(79, 79, 238);
    text-align: center;
    margin: 10em auto;
    
}
.slogan h1, .slogan h2{
    font-weight: 200;
}
.slogan h2::after{
    content: "";
    width: 10%;
    height: 1px;
    border-top: 5px solid #86c8f8;
    border-radius: 5px;
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translateY(.4em);
}
.slogan h1{
    font-size: 5em;
    color:rgb(30, 30, 163);
}
.slogan h2{
    font-size: 3em;
    font-style: oblique;
}
.between {
    background: #0F75BD;
    position: relative;
    max-width: calc(100% - 7.9em);
    bottom: 0px;
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 2.5rem;
    height: 100px;
    color: #F2F4F5;
    z-index: 2;
}

.pointingleft{
    height: 72px;
    width: 72px;
    position: absolute;
    float: left;
    left: -35px;
    top: 14%;
    transform: rotate(45deg);
    background: #0F75BD;
    border-left: solid #CCE5FA 1pt;
    border-bottom: solid #CCE5FA 1pt;
    border-bottom-left-radius: 7%;
    z-index: -1;
}


.between i{
    transform: rotate(354deg);
}
#homebtn{
    height: 60px;
    width: 60px;
    background: rgb(214, 234, 250);
    z-index: 5;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: none;
    border-radius: 50%;
    box-shadow: rgb(4, 48, 75) 0mm 0mm  1mm 0.5mm;
    opacity: 0.3;
    pointer-events: all;
    cursor: pointer;
}
#homebtn:hover{
    opacity: 1;
}
#homebtn a{
    font-size: 4em;
    color: rgb(129, 170, 245);
    filter: drop-shadow(1px 1px 1px black);
    position: relative;
    margin: 0 auto;    
}#מאמרים
, #contact, #office, .contentwrap{
    background-image: linear-gradient( to right, transparent, white, white, transparent);
    position: relative;
    display: block;
    min-height: 100vh;
    width: calc(100% - 20em);
    padding: 3em;
    
}

#pageheader, #pageheader2, #pageheader3{
    padding: 1em;
    text-align: center;
    display: block;
    width: 64%;
    height: 100px;
    font-size: 1.9rem;
    color:rgb(253, 254, 255);
    border: none;
    margin: 2em;
    margin-top:0;
    margin-right: -4em;
    font-style: italic;
    font-weight: 200;
    line-height:initial;
    background-image: linear-gradient(to right, transparent, rgb(24, 106, 173)) ;
}

.mamarlist{
    width: auto;
    /* pointer-events: all;
    cursor: pointer; */
}

#hopen{
    transform: scale(.8, 1);
    cursor: pointer;
    margin: 0 auto;
    padding: 22px;
    font-weight: 700;
    color: #2f426d;
    text-align: center;
    box-shadow: #f2f2fc -0.4mm -0.4mm 0mm 0.1mm;
    transition: 0.2s ease-in;
    font-size: 40px;
    background-image: linear-gradient(#97D6F0, transparent);
    border-top: 1mm solid #0086E3;
    width: 100%;
    border-radius: 20px 20px 0 0;
      
}
.distance{
    line-height:150px;
    
}
.mamar-content{
    margin-bottom: 1em;
    display: none;
    background: #F3FAFF;
    border-radius: 15px;
  
}
.mhead{
    transform: scale(.8, 1);
    cursor: pointer;
    margin: 0 auto;
    font-size: 22px;
    padding: 22px;
    font-weight: 700;
    color: #2f426d;
    text-align: center;
    width: 70%;
    box-shadow: #f2f2fc -0.4mm -0.4mm 0mm 0.1mm;
    transition: 0.2s ease-in;
    border-top: none;
    border-radius: 0 0 0 0;
}
.mhead:hover{
    background: #e8f5fa
}
.secondary h2 {
    margin: 1em auto;
    padding-top: 1em;
    font-size: 1.7rem;
    font-weight: 400;
    color: #115d69;
    text-align: center;
    width: 70%;

}
.secondary p{
    padding: .7em 3em;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6em;
    width: 80%;
    border-right: 0.1mm solid rgb(241, 241, 248);
    text-align: justify;
    
    
}

.justiftxt{
    background:hsl(208, 39%, 94%);
    max-width: 70%;
    text-align: justify;
}
.collapse{
    margin-bottom: 1em;
    padding: 1em;
    color: #26A8DF;
    font-size: 2em;
    display: block;
    text-align: center;
    filter: drop-shadow(0.1mm 0.1mm 2mm rgb(38, 38, 71));
}
.collapse:hover{
    color: black;
    font-size: 2.1em;
}
.scrollUp{
    transform: translateY(-80px)
}
#contact{
    
    background-image: linear-gradient(transparent, white, white, transparent);
}

#insidecontact{
    margin: 3em auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   
}
#insidecontact a{
    width: 70%;
    box-shadow: 1px 1px 3px 0px #e7dcf7;
    margin:  2px auto;
    padding: 1em;
    text-align: center;
    color: #230666;
    font-size: 1.3em;
    background: #F0F8FD;
    transition: background 0.4s ease;
}
#insidecontact i{
    font-size: 3em;
    padding: .3em 0;

}
#insidecontact a:hover{
    background: #c4e6fc;
    box-shadow: 1px 1px 4px 3px #f9f9fa;
}

  #office {
   min-height: 129vh;
   background-image: linear-gradient(to right, transparent, white, white, transparent);
   padding-bottom: 2em;
     }
#officecontent{
    width: 90%;
    height: fit-content;
    padding: 2em;
    margin: 0 auto;
    box-shadow: 1px -2px 3px 0px #6aa4ec;
}
.mapwrap{
    color:#0F75BD;
    margin: 1em auto;
    width: 100%;
    line-height: 3rem;
    text-align: center;
}
.mapwrap iframe{
    box-shadow: 0.16mm 0.16mm 3px 0px #703dfc;
}

.officetext{
  font-size: 2rem;
  margin: 1em auto;
  
  

}
#directions{
    margin: 0 auto;
    max-width: 80%;
    font-size: 2rem;
    color: #0F75BD;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}
#directions img{
    width: 80px;
    height: 80px;
    /* float: none;
    display: inline-flex; */
    
}
#directions p{
    display: inline-flex;
    font-size: 1rem;
    padding: 1em;
    text-align: justify;
    
}
.directitem{
    background: #b3dbf5;
    width: 180px;
    height: 80px;
    display: inline-flex;
    box-shadow: 1px 1px 7px 0px rgb(8 82 107);
    border-radius: 10px;
    justify-content: center;
    box-sizing: border-box;
    color: rgb(62, 114, 145);
}
.directitem:hover{
    opacity: .7;
}
#waze{
    background: #f3f7fa;
    border-radius: 10px;
    padding: 10px;
    height:100%;
    
}

#ad {
    border-radius: 12px 12px 0 0;
    font-size: .8rem;
    width: calc(max-content + 100px);
    text-align: center;
    background: darkblue;
    color: white;
    font-weight: 200;
    position: absolute;
    margin: 0;
    float: left;
    left: 0%;
    padding: 1em;
    bottom: 0;
    opacity: .4;
}
#ad:hover{
    opacity: 1
}

  